// ----------------------------------------------------------------------
// --------------------------------- COLORS -----------------------------
// ----------------------------------------------------------------------

$bgprimary: #1d1d1d;
$bgsecondary: #181818;
$bgsecondary-light: lighten(#181818, 10%);
$black: #000;
$green: #00ae74;
$whitetext: #fff;
